*{
    margin: 0;
    padding: 0;
}

.slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    gap: 30px;
    width: 1215px;
    height: 600px;
    justify-content: center;
}

.img{
    width: 300px;
    height: 300px;
    transition: 1s;
}

.img:hover{
    transform: scale(1.2);
}

.images-box{
    display: flex;
    justify-content: center;
    animation:carusel 35s infinite 0s linear reverse none;
    gap: 5px;
}


.slide-box{
    display: flex;
    justify-content: center;
    animation:carusel 35s infinite 0s linear normal none;
    gap: 100px;
}

@keyframes carusel {
    from{transform: translateX(0px)}
    to{transform: translateX(-2000px);} 
}

.slide{
   
    transition: 1s;
    border-radius: 5px;
    font-size: 40px;
    color: green;
} 

.slide:hover{
    transform: scale(1.2);
}

body {
    align-items: center;
    background: #E3E3E3;
    display: flex;
    height: 600px;
    justify-content: center;
  }